.button {
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	border: 1px solid black;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #3a3a3a;
	background-color: #fff;
}

.button--page-header {
	border-color: #e5c82b;
	width: 190px;
}

.button--video {
	padding-left: 15px;
	padding-right: 15px;
	border-color: #1a2389;
}

.button--news {
	display: block;
	margin: 0 auto;
}