.field-text {
	display: block;
}

.contacts-form .field-text {
	margin-bottom: 10px;
}

.search-form--hide .field-text--header {
	display: none;
}

.search-form--show .field-text--show {
	display: block;
}

.page-header--scroll .field-text--header {
	display: block;
	width: 320px;
}

.field-text__input {
	width: 100%;
	border: 1px solid #e4e4e4;
	padding: 13px 55px 13px 10px;
	font-size: 15px;
	line-height: 18px;
}

.field-text--header .field-text__input {
	transition: all 1s;
}

.page-header--scroll .field-text__input {
	padding-top: 7px;
	padding-bottom: 7px;
}

/*****************/
/*Search results*/
/******************/

.field-text__input--search-results {
	padding-top: 15px;
	padding-bottom: 15px;
}


/*****************/
/*Feedback form*/
/******************/

.field-text--feedback {
	margin-bottom: 6px;
}

.field-text--feedback .field-text__input {
	text-align: center;
	padding: 10px 5px;
}

.field-text--feedback .field-text__input::placeholder { /* Chrome/Opera/Safari */
  color: #2b2b2b;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

