.news-item {
	padding-top: 25px;
}

.news-item__img {
	position: relative;
	width: 265px;
	height: 165px;
	margin-bottom: 8px;
	.o();
}

.news-item__img-overlay {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 15px;
}

.news-item__date {
	padding-left: 20px;
	font-size: 13px;
	line-height: 20px;
}

.news-item__link {
	padding-left: 18px;
	font-size: 13px;
	line-height: 20px;
}

.news-item__title {
	font-size: 18px;
	line-height: 22px;
	color: #323232;
	margin-bottom: 14px;
}

