.partners {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

.partners__item {
	width: 380px;
	margin-right: 14px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 8px;
	padding-bottom: 20px;
	padding-top: 20px;
	display: flex;
	align-items: center;
	border: 1px solid #f5f5f5;
}

.partners__item:nth-child(3n) {
	margin-right: 0;
}

.partners__info {
	max-width: 280px;
}

.partners__logo {
	display: block;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	.bg();
}

.partners__logo--1 {
	background-image: url(../../images/partners-logo-1.png);
}

.partners__logo--2 {
	background-image: url(../../images/partners-logo-2.png);
}

.partners__logo--3 {
	background-image: url(../../images/partners-logo-3.png);
}

.partners__logo--4 {
	background-image: url(../../images/partners-logo-4.png);
}

.partners__logo--5 {
	background-image: url(../../images/partners-logo-5.jpg);
}

.partners__logo--6 {
	background-image: url(../../images/partners-logo-6.png.jpg);
}

.partners__logo--7 {
	background-image: url(../../images/partners-logo-2.png);
}

.partners__logo--8 {
	background-image: url(../../images/partners-logo-7.png);
}

.partners__logo--9 {
	background-image: url(../../images/partners-logo-8.png);
}

.partners__logo--10 {
	background-image: url(../../images/partners-logo-9.png.jpg);
}

.partners__logo--11 {
	background-image: url(../../images/partners-logo-8.png);
}

.partners__logo--12 {
	background-image: url(../../images/partners-logo-7.png);
}

.partners__title {
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 20px;
}

.partners__link {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #141e88;
}