/*FONTS*/

/********/

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #343435;
}



/*Mixins*/

.bg() {
	background-repeat: no-repeat;
	background-position: center;
}

.o() {
	outline: 1px solid black;
}

/***************/

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.container--columns {
	display: flex;
	justify-content: space-between;
}

.base-860 {
	width: 860px;
}

.sidebar-292 {
	width: 292px;
}

.sidebar-310 {
	width: 310px;
}

.ba-835 {
	width: 835px;
}

