.slider-index-top {
	width: 100%;
	height: 360px;
	margin-bottom: 20px;
}

.slider-index-top__link {
	display: block;
	text-decoration: none;
}

.slider-index-top__image {
	max-width: 100%;
	height: auto;
}