.slider-index-top {
	width: 100%;
	height: 360px;
}

.slider-index-top__link {
	display: block;
	text-decoration: none;
}

.slider-index-top__image {
	max-width: 100%;
	height: auto;
}

// ***********
// SLIDER BIG
// ***********

// MAIN IMAGE
.slider-big {
	margin-bottom: 45px;
}

.slider-big__title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	color: #000;
	font-weight: 500;
}

.slider-big__container {
	height: 645px;
	margin-bottom: 20px;
	overflow: hidden;
}

.slider-big__main {
	margin-bottom: 15px;
}

.slider-big__main-link {
	position: relative;
	display: block;
	height: 480px;
	text-decoration: none;
}

.slider-big__main-link:before {
	position: absolute;
	bottom: 2px;
	left: 0;
	content: attr(data-title);
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	padding: 10px 15px;
	background-color: rgba(0,0,0,0.5);
	font-family: "Roboto", "Arial", sans-serif;
}

.slider-big__main-img {
	max-width: 100%;
	height: auto;
}
// NAVIGATION

.slider-big__nav {
	height: 150px;
}

.slider-big__nav-item {
	display: inline-block;
	vertical-align: top;
	width: 217px;
	height: 150px;
}

.slider-big__nav-img {
	width: 217px;
	height: 150px;
}